
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AlphaTechMIS.Resources
@Scripts.Render("~/Content/jqxGrid/js")

<script>

    $(document).ready(function () {

        setgrid();
        makeContextMenu("Menu", "GrdUnit", 200, 100);

        $("#Menu").on('itemclick', function (event) {
            var args = event.args;
            var rowindex = $("#GrdUnit").jqxGrid('getselectedrowindex');
            if ($.trim($(args).text()) == "Edit") {
                editrow = rowindex;
                var offset = $("#GrdUnit").offset();
                // get the clicked row's data and initialize the input fields.
                var dataRecord = $("#GrdUnit").jqxGrid('getrowdata', editrow);

                $("#UnitName").val(dataRecord.UnitName);

                $("#UnitID").val(dataRecord.UnitID);

                $("#ModelUnit").modal('show');

            }
            else {

            }
        });


        $("#Save").click(function () {
            var validationResult = function (isValid) {

                if (isValid) {

                    var varURL = ($("#UnitID").val() == '' || $("#UnitID").val() == null) ? '/INV/z_Unit/Create' : '/INV/z_Unit/Edit';
                    if ($("#UnitID").val() == '') {
                        $("#UnitID").remove();
                    }
                    $.ajax(
                        {
                            url: varURL,
                            type: 'post',
                            data: $('#FrmUnit').serialize(),
                            success: function (result) {
                                if (result == "true") {
                                    toastr["success"]('Record_Saved')
                                    $('#GrdUnit').jqxGrid('updatebounddata', 'data');
                                    $('#FrmUnit').append("<input type='hidden' id='UnitID' name='UnitID' />");
                                    $("#UnitName").val('');
                                    $("#UnitID").val('');
                                    $('#ModelUnit').modal('hide');

                                }

                                else if (result == "Updated") {
                                    toastr["success"]('Record_Update')
                                    $('#GrdUnit').jqxGrid('updatebounddata', 'data');
                                    $("#UnitName").val('');
                                    $("#UnitID").val('');
                                    $('#ModelUnit').modal('hide');
                                }

                                else {
                                    toastr["error"](result);

                                }
                            }
                        });

                }
            }
            $('#FrmUnit').jqxValidator('validate', validationResult)

        });


        $('#FrmUnit').jqxValidator({
            hintType: 'label',
            animationDuration: 0,
            rtl: true,
            rules: [
                { input: '#UnitName', message: '@Resource.Required', action: 'keyup, blur', rule: 'required' },


            ], theme: 'classic'
        });


    });


    function setgrid() {

        const isRTL = JSON.parse(localStorage.getItem('isRTL'))
        const aln = (isRTL) ? 'right' : 'left';
        var isAdaptive = ($(document).width() <= 500) ? true : false;

        $("#GrdUnit").jqxGrid(
            {
                width: '99%',
                enabletooltips: true,
                pageable: true,
                pagermode: 'simple',
                showfilterrow: true,
                filterable: true,
                editable: false,
                autoheight: true,
                columnsresize: false,
                sortable: true,
                pagesize: 15,
                altrows: true,
                rtl: isRTL,
                adaptive: isAdaptive,
                columns: [

                    { text: 'No#', dataField: 'UnitID', width: '10%', cellsalign: aln, align: aln },
                    { text: 'Unit Name', dataField: 'UnitName', cellsalign: aln, align: aln },

                ]

            });
         fillgrid('/INV/z_Unit/UnitList');

    }

    function fillgrid(varurl) {

        var datafields = [
            { name: 'UnitID' },
            { name: 'UnitName' },

        ];
        var source =
        {
            datatype: "json",
            datafields: datafields,
            cache: false,
            //   url: '/HR/Dept/GetDept',
            url: varurl,
            root: 'Rows'
        };

        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
                console.log(error);
            }
        }
        );

        $("#GrdUnit").jqxGrid(
            {
                source: dataadapter
            });
    }
</script>




<div class="card card-primary mb-3" id="customersTable" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;phone&quot;,&quot;address&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Reports </h5>
            </div>
            <div class="col-8 col-sm-auto text-end ps-2">
                <div id="table-customers-replace-element">

                    <button class="btn btn-outline-primary btn-sm" id="BtnAdd" type="button" data-bs-toggle="modal" data-bs-target="#ModelUnit">
                        <span class="d-none d-sm-inline-block ms-1">New </span>
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2 bg-light">
        <div class="table-responsive">
            <div id="GrdUnit">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModelUnit" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">AddNew</h5>
                <button type="button" class="btn-close btn btn-sm btn-circle transition-base p-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="FrmUnit">
                <div class="modal-body">
                    <div class="row p-2">

                        <div class="col-md-12">
                            <label for="UnitName"> Unit Name</label><br />
                            <input type="text" name="UnitName" id="UnitName" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" name="UnitID" id="UnitID" class="form-control form-control-sm" />
                    <button type="button" id="Save" class="btn btn-sm btn-outline-primary">Save</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>


<div id="Menu">
    <ul dir="rtl">
        <li id="Edit" class="Block">
            <img src="~/images/pencil.png" />
            <span>Edit</span>
        </li>
    </ul>
</div>

