


    @font-face {
        font-family: "BElham";
        src: url("~/fonts/BElham.ttf") format("woff"), url("~/fonts/BElham.ttf") format("opentype"), url("~/fonts/BElham.ttf") format("truetype");
    }

    @font-face {
        font-family: "BahijNazanin";
        src: url("/fonts/Bahij Nazanin-Regular.ttf") format("woff"), url("/fonts/Bahij Nazanin-Regularr.ttf") format("opentype"), url("/fonts/Bahij Nazanin-Regular.ttf") format("truetype");
    }

    body {
        background-color: #F7F8FA;
    }

    .shadowbox {
        box-shadow: 3px 3px 5px 3px gainsboro;
    }

    .boxdesign {
        box-shadow: 3px 3px 5px 3px gainsboro;
        background-color: #fff;
        border-radius: 5px;
        margin: auto;
    }

    .emptyBox {
        box-shadow: 3px 3px 5px 3px #F7F8FA;
        background-color: #fff;
        border-radius: 5px;
        margin: auto;
    }



    .text-farsi {
        color: #ff8000;
        font-size: 11px;
        font-style: normal;
        text-justify: auto;
        font-family: 'BahijNazanin' !important;
    }

    .elhamfonts {
        font-family: 'BElham' !important;
    }

    .text-english {
        font-size: x-small;
        /*text-justify: auto;*/
    }

    a {
        color: #444;
    }


    .dabscolor {
        font-size: smaller;
        color: #ff8000;
    }

    .graycolor {
        color: #444;
    }

    .Title-box {
        box-shadow: 3px 3px 4px gainsboro;
    }

    #todoList {
        list-style-type: none;
        padding: 0px !important;
    }


        #todoList li a {
            box-shadow: 1px 1px 3px 2px gainsboro;
            border-radius: 5px;
            margin-top: 5px;
            height: 30px;
            display: block;
            line-height: 34px;
            color: gray;
            overflow: hidden;
        }


    .icons {
        background-color: #F7F8FA;
        color: gray;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: large;
        line-height: 40px;
        margin-left: 5px;
        text-align: center;
    }

    #search-box {
        background-color: #F7F8FA;
        border: none;
        border-radius: 5px;
        height: 40px;
        width: 100%;
    }

        #search-box::placeholder {
            color: gainsboro;
        }

    #addTodo {
        text-align: center;
        border-radius: 50%;
        border: none;
        background-color: #ff8000;
        color: white;
    }

    #todoInputBox::placeholder {
        color: gainsboro;
        text-align: left;
    }

    .carousel-inner {
        height: 270px;
    }

    #dabsicon {
        background-image: url('/images/DABSICON.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .trashTodo {
        float: left;
        padding: 5px;
    }
