@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    $(document).ready(function () {
        DrawGraphs();


    });


    function DrawGraphs() {

        var startDate = ($("#StartDate").val()) ? $("#StartDate").val() : null;
        var endDate = ($("#EndDate").val()) ? $("#EndDate").val() : null;

        barchartone('/Att/Dashboard/GraphOneData?startDate=' + startDate + '&endDate=' + endDate);
        barcharttwo('/Att/Dashboard/GraphTwoData?startDate=' + startDate + '&endDate=' + endDate);
        barchartthree('/Att/Dashboard/GraphThreeData?startDate=' + startDate + '&endDate=' + endDate);
        barchartfour('/Att/Dashboard/GraphFourData?startDate=' + startDate + '&endDate=' + endDate);


    }

    //Barchart One

    function barchartone(varUrl) {
        //catebase yearly line graph
        var Province = new Array();
        var Total = new Array();
        $.getJSON(varUrl, function (data) {
            for (i = 0; i < data.length; i++) {
                Province.push([data[i].Province]);
                Total.push([data[i].Total]);

            }
            drawChart(Province, Total);
        });
    }

    function drawChart(varProvince, varTotal) {
        Highcharts.chart('graphone', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Total Prticipant by province'
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category',
                categories: varProvince,
            },
            yAxis: {
                title: {
                    text: '.'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {

                series: {
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.y} '
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}<br/>'
            },


            series: [
                {
                    name: " Person",
                    colorByPoint: true,
                    data: varTotal

                }
            ]

        });
    }

    //End of graphone

    //barchart two
    function barcharttwo(varUrl) {
        //catebase yearly line graph
        var SiteName = new Array();
        var Total = new Array();
        $.getJSON(varUrl, function (data) {
            for (i = 0; i < data.length; i++) {
                SiteName.push([data[i].SiteName]);
                Total.push([data[i].Total]);

            }
            drawCharttwo(SiteName, Total);
        });
    }

    function drawCharttwo(varSiteName, varTotal) {
        Highcharts.chart('graphtwo', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Total participants by site'
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category',
                categories: varSiteName,
            },
            yAxis: {
                title: {
                    text: '.'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {

                series: {
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.y} '
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}<br/>'
            },


            series: [
                {
                    name: " Person",
                    colorByPoint: true,
                    data: varTotal

                }
            ]

        });
    }

    //End of graphtwo

    //barchart three
    function barchartthree(varUrl) {
        //catebase yearly line graph
        var ProgramName = new Array();
        var Total = new Array();
        $.getJSON(varUrl, function (data) {
            for (i = 0; i < data.length; i++) {
                ProgramName.push([data[i].ProgramName]);
                Total.push([data[i].Total]);

            }
            drawChartthree(ProgramName, Total);
        });
    }

    function drawChartthree(varProgramName, varTotal) {
        Highcharts.chart('graphthree', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Total participants by Program'
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category',
                categories: varProgramName,
            },
            yAxis: {
                title: {
                    text: '.'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {

                series: {
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.y} '
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}<br/>'
            },


            series: [
                {
                    name: " Person",
                    colorByPoint: true,
                    data: varTotal

                }
            ]

        });
    }

    //End of graphthree


    //barchart four
    function barchartfour(varUrl) {
        //catebase yearly line graph
        var SiteName = new Array();
        var Male = new Array();
        var Female = new Array();
        $.getJSON(varUrl, function (data) {
            for (i = 0; i < data.length; i++) {
                SiteName.push([data[i].SiteName]);
                Male.push([data[i].Male]);
                Female.push([data[i].Female]);

            }
            drawChartfour(SiteName, Male, Female);
        });
    }

    function drawChartfour(varSiteName, varMale, varFemale) {

        Highcharts.chart('graphfour', {
            title: {
                text: 'Participants by site Male and Female'
            },
            xAxis: {
                categories: varSiteName
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            series: [
                {
                    type: 'column',
                    name: 'Total Male',
                    data: varMale,
                    color: Highcharts.getOptions().colors[3]
                }, {
                    type: 'column',
                    name: 'Total Female',
                    data: varFemale,
                    color: Highcharts.getOptions().colors[2]
                }]
        });



    }

    //End of graphfour
</script>
<div class="card card-primary mb-3" id="customersTable" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;phone&quot;,&quot;address&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Welcome to iECHO Sessions Dashboard </h5>
            </div>
            <div class="col-8 col-sm-auto text-end ps-2">
                <div id="table-customers-replace-element">

                 

                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2 bg-light">
        <div class="">
            <div class="row p-2">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">Start Date</span>
                        <input type="date" name="StartDate" id="StartDate" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">End Date</span>
                        <input type="date" name="EndDate" id="EndDate" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">End Date</span>
                        <input type="date" name="EndDate" id="EndDate" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-outline-warning btn-sm w-100" id="BtnAdd" type="button" onclick="DrawGraphs();">
                        <span class="d-none d-sm-inline-block ms-1">Search</span>
                        <span class="fas fa-chart-line" data-fa-transform="shrink-3 down-2"></span>
                    </button>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Sessions</h5>
                            <p class="card-text">100</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Number of Male</h5>
                            <p class="card-text">50</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Number of Female</h5>
                            <p class="card-text">50</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total of Female</h5>
                            <p class="card-text">50</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Graph 1</h5>
                            <figure class="highcharts-figure">
                                <div id="graphone"></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Graph 2</h5>
                            <figure class="highcharts-figure">
                                <div id="graphtwo"></div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Graph 3</h5>
                            <figure class="highcharts-figure">
                                <div id="graphthree"></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Graph 4</h5>
                            <figure class="highcharts-figure">
                                <div id="graphfour"></div>
                            </figure>
                        </div>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</div>
