
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EchoAttendance.Resources
@Scripts.Render("~/Content/jqxGrid/js")

<script>
    $(document).ready(function () {
        setgrid();
        $('#BtnAdd').click(function () {
            ClearForm();
        });
        makeContextMenu("Menu", "GrdDesignation", 200, 100);
        $("#Menu").on('itemclick', function (event) {
            var args = event.args;
            var rowindex = $("#GrdDesignation").jqxGrid('getselectedrowindex');
            editrow = rowindex;
            var offset = $("#GrdDesignation").offset();
            var dataRecord = $("#GrdDesignation").jqxGrid('getrowdata', editrow);

            $("#DesID").val(dataRecord.DesID);
            $("#DesTitle").val(dataRecord.DesTitle);

            $("#ModelDesignation").modal('show');
        });
        $("#Save").click(function () {
            var validationResult = function (isValid) {
                if (isValid) {
                    var varURL = ($("#DesID").val() == '' || $("#DesID").val() == '0' || $("#DesID").val() == null) ? '/Att/Designation/Create' : '/Att/Designation/Edit';
                    if ($("#DesID").val() == '') {
                        $("#DesID").remove();
                    }
                    $.ajax(
                        {
                            url: varURL,
                            type: 'post',
                            data: $('#frmDesignation').serialize(),
                            success: function (result) {
                                if (result == "Record_Saved") {
                                    toastr["success"]('Record_Saved')
                                    $('#GrdDesignation').jqxGrid('updatebounddata', 'data');
                                    $('#frmDesignation').append("<input type='hidden' id='DesID' name='DesID' />");
                                    ClearForm();
                                    $('#ModelDesignation').modal('hide');

                                }
                                else if (result == "Record_Update") {
                                    toastr["success"]('Record_Update')
                                    $('#GrdDesignation').jqxGrid('updatebounddata', 'data');
                                    ClearForm();
                                    $('#ModelDesignation').modal('hide');
                                }
                                else {
                                    toastr["error"](result);
                                }
                            }
                        });

                }
            }
            $('#frmDesignation').jqxValidator('validate', validationResult)

        });


        $('#frmDesignation').jqxValidator({

            hintType: 'label',
            animationDuration: 0,
            rtl: true,
            rules: [
                { input: '#DesTitle', message: 'Required', action: 'keyup, blur', rule: 'required' },
         
            ], theme: 'classic'
        });

    });


    function setgrid() {

        const isRTL = JSON.parse(localStorage.getItem('isRTL'))
        const aln = (isRTL) ? 'right' : 'left';
        var isAdaptive = ($(document).width() <= 500) ? true : false;

        $("#GrdDesignation").jqxGrid(
            {
                width: '99%',
                enabletooltips: true,
                pageable: true,
                pagermode: 'simple',
                showfilterrow: true,
                filterable: true,
                editable: false,
                autoheight: true,
                columnsresize: false,
                sortable: true,
                pagesize: 15,
                altrows: true,
                rtl: isRTL,
                adaptive: isAdaptive,
                columns: [

                    { text: 'No #', dataField: 'DesID', width: '5%', cellsalign: aln, align: aln },
                    { text: 'Designation', dataField: 'DesTitle', cellsalign: aln, align: aln },

                ]

            });
         fillgrid('/Att/Designation/DesignationList');

    }

    function fillgrid(varurl) {

        var datafields = [
            { name: 'DesID' },
            { name: 'DesTitle' },
    

        ];
        var source =
        {
            datatype: "json",
            datafields: datafields,
            cache: false,
            //   url: '/HR/Dept/GetDept',
            url: varurl,
            root: 'Rows'
        };

        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
                console.log(error);
            }
        }
        );

        $("#GrdDesignation").jqxGrid(
            {
                source: dataadapter
            });
    }
    function ClearForm() {
        $("#DesID").val('0');
        $("#DesTitle").val('')

    }
</script>




<div class="card card-primary mb-3" id="customersTable" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;phone&quot;,&quot;address&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Designation List </h5>
            </div>
            <div class="col-8 col-sm-auto text-end ps-2">
                <div id="table-customers-replace-element">

                    <button class="btn btn-outline-primary btn-sm" id="BtnAdd" type="button" data-bs-toggle="modal" data-bs-target="#ModelDesignation">
                        <span class="d-none d-sm-inline-block ms-1">New </span>
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2 bg-light">
        <div class="table-responsive">
            <div id="GrdDesignation">
            </div>
        </div>
    </div>
</div>


<div id="ModelDesignation" class="modal fade" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Designation</h5>
                <button type="button" class="btn-close btn btn-sm btn-circle transition-base p-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="frmDesignation">
                <div class="modal-body">
                    <div class="row p-2">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="DesTitle">Designation Name </label>
                                <input type="text" id="DesTitle" name="DesTitle" class="form-control form-control-sm " />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="DesID" name="DesID" value="0" />
                    <button type="button" id="Save" class="btn btn-sm btn-outline-primary">Save</button>
                    <button type="button" id="Cancel" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="Menu">
    <ul dir="rtl">
        <li>
            <img src="~/images/pencil.png" />
            <span>Edit</span>
        </li>

    </ul>
</div>


