

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Content/jqxGrid/js")
@using AlphaTechMIS.Resources

<style type="text/css">
    .bgpreppel {
        background-color: #02b8ab;
    }

    .highcharts-root {
        font-family: Calibri !important;
        border: 1px solid #f2f2f2;
        border-radius: 7px;
    }

    text.highcharts-title {
        font-size: 14px !important;
        font-weight: bold !important;
        fill: dimgray !important;
    }

    text.highcharts-axis-title {
        font-family: Arial !important;
    }

    .highcharts-axis-labels text {
        font-size: 12px !important;
    }

    .ContractChart .highcharts-root .highcharts-label text {
        font-size: 11px !important;
    }

    div[id*="ItemChart"] .highcharts-root {
        width: 280px;
        height: 350px;
        margin-top: 7px;
    }

        div[id*="ItemChart"] .highcharts-root .highcharts-label text {
            font-size: 13px !important;
        }
</style>

<script>

    var varCodeCode = new Array();
    var varBalance = new Array();
    var varData = new Array();


    var varUSDBalance = new Array();
    var varUSDData = new Array();


    $(document).ready(function () {

        // DrawAreaChart();
        var resultData;
        $('#afnChart').hide();
        $('#usdChart').hide();
        getCAID('CAID');
        $("select").select2({ allowClear: true });
        AFNGetClosingBalance();

        var CurrentDate = new Date();
        var firstDayOfMonth = new Date(CurrentDate.getFullYear(), CurrentDate.getMonth(), -30);


        //setInputsDr(["D_FromDate","D_ToDate"], 100, 35);
        makeDates(["D_FromDate", "D_ToDate"], "FromToDate", "rtl");

        //$('#FromDate').val(moment(firstDayOfMonth).format("YYYY-MM-DD"));
        //$('#ToDate').val(moment(CurrentDate).format("YYYY-MM-DD"));

        //$('#D_FromDate').val(firstDayOfMonth.toLocaleDateString('fa-IR'));
        //$('#D_ToDate').val(CurrentDate.toLocaleDateString('fa-IR'));




        $('#afn-columnChart').click(function () {
            drawColumnChart(varCodeCode, varBalance, 'afnChart');
            $('#afnChart').show();
            $('#afnTable').hide();
        });

        $('#afn-table').click(function () {

            $('#afnChart').hide();
            $('#afnTable').show();
        });

        $('#afn-PieChart').click(function () {

            $('#afnChart').show();
            $('#afnTable').hide();
            GHPieChart(varData, 'afnChart');
        });
        //usd
        $('#usd-columnChart').click(function () {
            drawColumnChart(varCodeCode, varUSDBalance, 'usdChart');
            $('#usdChart').show();
            $('#usdTable').hide();
        });

        $('#usd-table').click(function () {

            $('#usdChart').hide();
            $('#usdTable').show();
        });

        $('#usd-PieChart').click(function () {

            $('#usdChart').show();
            $('#usdTable').hide();
            // usdPieChart(varUSDData,'usdChart');
            GHPieChart(varUSDData, 'usdChart');
        });
        //GetAreaChartData();

    });

    function AFNGetClosingBalance() {

        var afnTotal = 0;
        var usdTotal = 0;

        var varExchangeRate = $('#txtExchangeRate').val();
        var row;


        var totalafn = 0;
        var TotalAFNBalance = new Array();
        var vartotalAFN = new Array();

        var url = '/ACT/Dashoard/ClosingBalanceByCode';

        $.getJSON(url, function (result) {
            resultData = result;
            for (i = 0; i < result.length; i++) {

                row = '<tr>' +
                    '<td>' + result[i].CodeCode + '</td>' +
                    '<td>' + result[i].AFNBalance.toLocaleString() + '</td>' +
                    '</tr>';

                $('#afn_Body').append(row);

                varCodeCode.push([result[i].CodeCode]);
                varBalance.push([result[i].AFNBalance]);
                varData.push([result[i].CodeCode, result[i].AFNBalance]);
                afnTotal += result[i].AFNBalance;



                row = '<tr>' +
                    '<td>' + result[i].CodeCode + '</td>' +
                    '<td>' + result[i].USDBalance.toLocaleString() + '</td>' +
                    '</tr>';

                $('#usd_Body').append(row);
                varUSDBalance.push([result[i].USDBalance]);
                varUSDData.push([result[i].CodeCode, result[i].USDBalance]);
                usdTotal += result[i].USDBalance;


                TotalAFNBalance.push((result[i].USDBalance * parseFloat(varExchangeRate)) + result[i].AFNBalance);
                vartotalAFN.push([result[i].CodeCode, (result[i].USDBalance * parseFloat(varExchangeRate)) + result[i].AFNBalance]);

                totalafn += (result[i].USDBalance * parseFloat(varExchangeRate)) + result[i].AFNBalance;


                row = '<tr>' +
                    '<td>' + result[i].CodeCode + '</td>' +
                    '<td>' + ((result[i].USDBalance * parseFloat(varExchangeRate)) + result[i].AFNBalance).toLocaleString() + '</td>' +
                    '</tr>';

                $('#TotalAFNTable').append(row);

            }

            drawColumnChart(varCodeCode, TotalAFNBalance, 'TotalAFNChart');
            GHPieChart(vartotalAFN, 'TotalAFNPieChart');
            $('#afnTotal').text(afnTotal.toLocaleString());
            $('#usdTotal').text(usdTotal.toLocaleString());
            $('#TotalAmount').text(totalafn.toLocaleString());

        });
    }

    function exportByExchangRate() {
        $('#TotalAFNTable').text('');
        var totalafn = 0;
        var TotalAFNBalance = new Array();
        var vartotalAFN = new Array();
        var varCodeCode = new Array();

        var varExchangeRate = $('#txtExchangeRate').val();

        for (i = 0; i < resultData.length; i++) {
            TotalAFNBalance.push((resultData[i].USDBalance * parseFloat(varExchangeRate)) + resultData[i].AFNBalance);
            vartotalAFN.push([resultData[i].CodeCode, (resultData[i].USDBalance * parseFloat(varExchangeRate)) + resultData[i].AFNBalance]);

            totalafn += (resultData[i].USDBalance * parseFloat(varExchangeRate)) + resultData[i].AFNBalance;
            varCodeCode.push([resultData[i].CodeCode]);
            Totalrows = '<tr>' +
                '<td>' + resultData[i].CodeCode + '</td>' +
                '<td>' + ((resultData[i].USDBalance * parseFloat(varExchangeRate)) + resultData[i].AFNBalance).toLocaleString() + '</td>' +
                '</tr>';

            $('#TotalAFNTable').append(Totalrows);
        }

        drawColumnChart(varCodeCode, TotalAFNBalance, 'TotalAFNChart');
        GHPieChart(vartotalAFN, 'TotalAFNPieChart');
        $('#TotalAmount').text(totalafn.toLocaleString());
    }

    function GetAreaChartData() {
        var FromDate = $('#FromDate').val();
        var ToDate = $('#ToDate').val();
        var CAID = $('#CAID').val();

        var varData = new Array();
        var EEdate = new Array();

        if (FromDate != '' && ToDate != '' && CAID != 0) {
            var url = '/ACT/Dashoard/GetAreaChartData?FromDate=' + FromDate + '&ToDate=' + ToDate + '&CAID=' + CAID;
            $.getJSON(url, function (result) {

                for (i = 0; i < result.length; i++) {
                    //varData.push(result[i].AFNBalance);

                    EEdate.push([moment(result[i].Date).format("YYYY-MM-DD")]);
                    varData.push([result[i].ClosingBalance]);
                }

                DrawAreaChart(varData, EEdate);
            });
        }
    }

</script>
<div class="card card-primary mb-3 border">
    <div class="card-body p-2 border border-1">
        <div class="row">
            <div class="col-md-12">
                <div class="cont_box">
                    <div class="label bgpreppel text-white text-center rounded-pill p-1">
                        ClosingBalance
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-primary mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cont_box">
                                                <div class="border-bottom">
                                                    <div class="label bgpreppel text-center text-white rounded-2">
                                                        AFN
                                                    </div>
                                                    <div class="row p-1 border-1">
                                                        <div class="col-xs-6 col-md-4 border-right">
                                                            <a href="#" id="afn-table" class="cont_label">  Tabel &nbsp;<i class="hidden-xs hidden-sm hidden-md fa fa-align-justify fa-lg"></i> </a>
                                                        </div>
                                                        <div class="col-xs-6 col-md-4 border-right">
                                                            <a href="#" class="cont_label" id="afn-columnChart"> ColumnChart <i class="hidden-xs hidden-sm hidden-md far fa-chart-bar fa-lg"></i></a>
                                                        </div>
                                                        <div class="col-xs-6 col-md-4 border-right">
                                                            <a href="#" class="cont_label" id="afn-PieChart"> PieChart<i class="hidden-xs hidden-sm hidden-md fas fa-chart-pie fa-lg"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="afnTable">
                                                    <table class="table table-striped table-sm" id="afn_table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col"> Code </th>
                                                                <th scope="col"> ClosingBalance</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="afn_Body">
                                                        </tbody>
                                                        <tfoot id="afn_total">
                                                            <tr>
                                                                <th scope="col"> Total</th>
                                                                <th scope="col" id="afnTotal"></th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>

                                                </div>
                                                <div id="afnChart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-primary mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cont_box">
                                                <div class="border-bottom">
                                                    <div class="label bgpreppel text-center text-white rounded-2">
                                                        USD
                                                    </div>
                                                    <div class="row p-1">
                                                        <div class="col-md-4 border-right">
                                                            <a href="#" id="usd-table" class="cont_label"> Tabel &nbsp;<i class="hidden-xs hidden-sm hidden-md fa fa-align-justify fa-lg"></i> </a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a href="#" class="cont_label" id="usd-columnChart"> ColumnChart<i class="hidden-xs hidden-sm hidden-md far fa-chart-bar fa-lg"></i></a>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a href="#" class="cont_label" id="usd-PieChart"> PieChart<i class="hidden-xs hidden-sm hidden-md fas fa-chart-pie fa-lg"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="usdTable">
                                                    <table class="table table-striped table-sm" id="usd_table">
                                                        <thead>
                                                            <tr>

                                                                <th scope="col"> Code </th>
                                                                <th scope="col"> ClosingBalance</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody id="usd_Body">
                                                        </tbody>
                                                        <tfoot id="usd_total">
                                                            <tr>
                                                                <th scope="col"> Total</th>
                                                                <th scope="col" id="usdTotal"></th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>

                                                </div>
                                                <div id="usdChart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="">
                                                <span class="label bgpreppel text-white rounded-2 p-2">
                                                    ExchangeRate
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div>
                                                <input type="number" id="txtExchangeRate" value="89.90" class="form-control form-control-sm ExchangeRate rounded-4" onkeyup="exportByExchangRate();" />
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="border-bottom">
                                                <table class="table table-striped table-sm p-1">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col"> Code </th>
                                                            <th scope="col"> ClosingBalance</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="TotalAFNTable">
                                                    </tbody>
                                                    <tfoot id="totalafn">
                                                        <tr>
                                                            <th scope="col"> Total</th>
                                                            <th scope="col" id="TotalAmount"></th>
                                                        </tr>
                                                    </tfoot>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cont_box">
                                                <div id="TotalAFNPieChart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cont_box">
                                                <div id="TotalAFNChart">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-default legend border">
            <div class="card-header border body_content label bgpreppel">
                <span class="text-white"> ClosingBalance</span>
            </div>
            <div class="card-body">

                <fieldset>
                    <legend>
                        <table id="FromToDate">
                            <tr>
                                <td width="20%">
                                    <input type="text" class="form-control form-control-sm" id="D_FromDate" value="" placeholder="From Date" onchange="GetAreaChartData();" autocomplete="off" />
                                </td>
                                <td width="20%">
                                    <input type="text" class="form-control form-control-sm" id="D_ToDate" value="" placeholder="To Date" onchange="GetAreaChartData();" autocomplete="off" />
                                </td>
                                <td width="60%">
                                    <select class="form-select" id="CAID" name="CAID" onchange="GetAreaChartData();">
                                        <option value="0" selected>  PlsSelect</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </legend>
                    <div id="AreaChart">
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<script>
        function getCAID(varDDL) {
        var inc = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.CAID))';
        inc = JSON.parse(inc);
        var mydata = inc["Data"];
        $.each(mydata, function (index, data) {
            $('#' + varDDL).append($('<option />', {
                value: data.CAID,
                text: data.Code
            }));
        });
    }
    Highcharts.setOptions({ lang: { numericSymbols: [' k', ' M', ' Bn', ' T'] } });

    function drawColumnChart(varCodeCode, varBalance, ContName) {
        Highcharts.chart(ContName, {
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ' Source: <a href="http://mis.dabs.af" target="_blank">mis.dabs.af</a>'
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {

                categories: varCodeCode,
            },
            yAxis: {
                title: {
                    text: 'Balance'
                }

            },

            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}'
                    }
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
                    '<td style="padding:0"><b>{point.y:.1f} AFN</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true

            },


            series: [
                {
                    name: "Balance",
                    colorByPoint: true,
                    data: varBalance

                }
            ],


        });
    }

    function GHPieChart(varData, ContName) {
        Highcharts.chart(ContName, {
            chart: {
                type: 'pie',
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ' Source: <a href="http://mis.dabs.af" target="_blank">mis.dabs.af</a>'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f} %</b>'
            },
            plotOptions: {
                pie: {
                    innerSize: 100,
                    depth: 25,
                }
            },
            series: [{
                name: 'Code',
                colorByPoint: true,
                data: varData
            }]
        });


    }
    function DrawAreaChart(varData, varEEdate) {
        Highcharts.chart('AreaChart', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Running Balance'
            },
            subtitle: {
                text: 'Source: dabs.af'
            },
            xAxis: {
                categories: varEEdate,

            },
            yAxis: {
                title: {
                    text: 'Amount'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Balance',
                data: varData
            }]
        });
    }

</script>

